services:
  claude-yes:
    build: .
    stdin_open: true
    tty: true
    volumes:
      - ./:/app
      # - ~/.claude:/root/.claude
      - ~/.claude/.credentials.json:/root/.claude/.credentials.json:ro
    
    # ok
    entrypoint: npx -y claude-yes
    # command: hello
    # entrypoint: [bun, x]
    # command: claude-x -- hello

    # run
    # docker compose up --watch
    develop:
      watch:
        - action: rebuild
          path: docker-compose.yaml
        - action: rebuild
          path: ./Dockerfile
