on:
  push:
permissions:
  contents: write
  issues: write
  id-token: write
jobs:
  semantic-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
      - uses: oven-sh/setup-bun@v2
      - run: bun i
      - run: bun run build
      - run: bun run test
      - run: bunx semantic-release
        # env:
          # reminder to setup read/write permission for this token
          # here: REPO_URL/settings/actions
          # for publishing to GitHub releases
          # GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
